.another-page {

    max-width: 968px;
    margin: 0 auto;
    text-align: center;
    
    &__title {
        color: gray;
    }

    &__container {
        background-color: lightgrey;
        min-width: 20px;
        border-radius: 10px;
    }
}



